/* Josefin Sans */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
/* Work Sans & JetBrains Mono */
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/* Brittany Signature */
@import url('https://fonts.cdnfonts.com/css/brittany-signature');

:root {
    --primary-color: #283b57;
    --accent-color: #1d558d6b; 
    --gray-color: #dadadaa8;
    --gray-color-2: #dadada; 

    --primary-font: "Work Sans", sans-serif;
    --secondary-font: "JetBrains Mono", monospace;
    --tertiary-font: "Brittany Signature"
}

h1 {
    text-transform: uppercase;
}

body {
    padding-top: 2rem;
    overflow-x: hidden;
}


.fade-up {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity .5s ease-out, transform .5s ease-out;
}

.fade-up.visible {
    opacity: 1;
    transform: translateY(0);
}

/* POPOVER */
.custom-popover .popover-header,
.custom-popover .popover-body {
    background-color: var(--primary-color);
    color: white;
    font-family: var(--primary-font);
    font-size: 1.1rem;
    padding: 1rem;
}

.custom-popover {
    border-color: var(--gray-color);
}

.custom-popover .popover-body {
    color: var(--primary-color);
    background-color: white;
}

/* SCROLLSPY */
#home-page,
#services-page,
#doctors-page,
#faq-section,
#location-page,
#contact {
  scroll-margin-top: 8rem;
}

/* SWAL */
.my-swal-1 {
    font-family: var(--primary-font);
    font-weight: 100;
    font-size: 1.2rem;
    border-radius: 2rem;
}

.swal-span-1 {
    font-weight: 600;
    font-size: 1.5rem;
    color: var(--primary-color);
}



/* NAVBAR */
#navbar {
    margin: 0;
    padding: .6rem 10%; /* Initial padding */
}

#info-nav {
    background-color: var(--primary-color) !important;
    color: var(--gray-color-2);
    padding: 0 10rem;
    letter-spacing: 1px;
    font-family: var(--secondary-font);
}

.whole-nav {
    position: fixed;
    top: 0;
    z-index: 1000;
    transition: box-shadow 0.3s ease, transform 0.3s ease; /* Transition for both shadow and transform */
    left: 0;
    right: 0;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.452);
}

#info-nav span {
    color: white;
    font-size: larger;
}

/* When navbar has shadow (scrolled) */
#navbar.navbar-shadow {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Shadow appears when scrolled */
    transform: translateY(-5px); /* Shrink and move the navbar */
}

.nav-item {
    justify-content: center;
    display: flex;
    align-items: center;
}

#navbar li a {
    color: black;
    font-family: var(--primary-font);
    font-weight: 600;
    font-size: 1.4rem;
    text-transform: uppercase;
    transition: color 0.3s ease;
}

#navbar li a:hover {
    color: var(--gray-color);
    text-decoration: none;
}

#navbar #contact-alert {
    background-color: var(--primary-color);
    color: white;
    border-radius: 1.2rem;
    transition: all .5s ease;
    border: 1px solid black;
    padding: 0.2rem 1rem;
}

#navbar #contact-alert:hover {
    background-color: white;
    color: black;
}

/* HOME PAGE */
#home-page {
    max-width: 100%;
    background-image: url('imgs/home-page.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    min-height: 90vh;
}

#home-text {
    display: flex;
    align-items: center;
    padding: 6rem;
    padding-left: 1rem;
    background: linear-gradient(to left, rgba(255, 255, 255, 0) , rgba(0, 0, 0));
    min-height: 90vh;
}

#home-page .row {
    display: flex;
    align-items: center; /* Vertical centering */
    margin-bottom: 3rem;
}

#home-page h1 {
    font-family: var(--primary-font);
    font-weight: 800;
    font-size: 4rem;
    color: white;
}

#home-page p {
    font-family: var(--tertiary-font);
    font-weight: 300;
    font-size: 5.2rem;
    color: white;
    text-shadow: black 4px;
    margin: 1rem 0;
}

#home-page h1 span {
    font-weight: 800;
    font-size: 4.8rem;
    color: var(--primary-color);
    text-shadow: 
        -.7px -.7px 0 var(--gray-color),
        .5px -.5px 0 var(--gray-color),
        -.5px .5px 0 var(--gray-color),
        .5px  .5px 0 var(--gray-color),
        3px  0px 10px white; /* subtle blur for depth */
}

#home-page a i {
    font-size: 3.5rem;
    color: var(--primary-color);
    transition: all 0.3s ease;
    margin-right: 1rem;
}

#home-page a i:hover {
    color: var(--primary-color); /* or any accent color */
    transform: scale(1.2) rotate(5deg);
    text-shadow: 0 0 10px var(--primary-color);
}


#home-mini {
    margin: 0;
    margin-top: -9rem;
    padding-left: 0;
}

#home-mini #first {
    background-color: var(--primary-color);
    margin: 2rem 0;
    padding: 1rem;
    padding-left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: none;
    box-shadow: 0 4px 6px -1px rgb(0, 0, 0);
}

#home-mini #first video {
    width: 100%;
    height: auto;
    max-width: 100%;
    object-fit: contain;
}

#home-mini #second {
    background-color: var(--gray-color-2); 
    padding: 2rem 3rem;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
    color: var(--primary-color);
    box-shadow: 0 4px 6px -1px rgb(0, 0, 0);
}

#home-mini #second img {
    max-width: 10rem;
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

#home-mini #second h1 {
    font-family: var(--primary-font);
    font-weight: 800;
    font-size: 2.5rem;
}

#home-mini #second p {
    color: black;
    font-family: var(--secondary-font);
    font-size: 1.3rem;
    line-height: 2.5rem;
    text-align: justify;
}

#home-mini #second span {
    color: var(--primary-color);
    font-weight: 800;
}

#home-mini .what-about {
    padding-right: 4rem;
}

#home-mini .open-hours {
    font-family: var(--secondary-font);
    background-color: white;
    border-radius: 4rem;
    width: 100%;
    padding: .3rem 0;
    box-shadow: 0 2px 3px -1px rgb(0, 0, 0);
}



/* SERVICES PAGE */

.tabs-container {
    max-width: 60%;
    width: 80%;
    margin: 30px;
    display: flex;
    border-radius: 3rem;
    background-color: white;
    box-shadow: 0 4px 40px -8px rgba(0, 0, 0, 0.39);
}

.tabs-container .tabs {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    background: var(--gray-color);
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.2rem;
    font-family: var(--primary-font);
    font-weight: 800;
    text-transform: uppercase;
    border-bottom-left-radius: 3rem;
}

.tabs-container .tabs .tab {
    padding: 24px 32px;
    background: var(--primary-color);
    cursor: pointer;
    font-weight: bold;
}

.tabs-container .tabs .tab.active {
    background: white;
    color: #222;
}

.tabs-container .content-container {
    width: 100%;
    transition: min-height 0.3s ease;
}

.tabs-container .content-container .content {
    display: none;
    padding: 32px;
}

.tabs-container .content-container .content.active {
    display: block;
}

.tabs-container .content-container h3 {
    margin: 0;
    font-size: 2.5rem;
    font-family: var(--primary-font);
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.tabs-container .content-container p {
    line-height: 2;
}

.tabs-container .content-container li {
    margin-bottom: 1rem;
    margin-left: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px gray solid;
    font-family: var(--secondary-font);
    font-size: 1rem;
}

.tabs-container .content-container li:hover {
    color: var(--primary-color);
}

.popover-item {
  display: inline-block; /* Make sure it has a box */
  position: relative;    /* Allows better alignment */
  cursor: pointer;       /* Optional: makes it feel interactive */
}


/* PROMO PAGE */
#promo-section {
    background-color: var(--gray-color);
}

#promo-section .row {
    margin-right: 0;
    padding: 3rem 0;
}

#promo-section .col-md-4 {
    padding: 0 4rem;
}

#promo-section h1,
#promo-section h2,
#promo-section h4 {
    color: var(--primary-color);
}

#promo-section h1,
#promo-section h2 {
    font-family: var(--primary-font);
    font-weight: 800;
    font-size: 4rem;
}

#promo-section h1 span {
    color: var(--primary-color);
    font-family: var(--tertiary-font);
    font-size: 2.5rem;
    position: relative;
    top: -2.7rem;
}

#promo-section h2 {
    font-size: 2rem;
    letter-spacing: 4px;
}

#promo-section h4 {
    color: black;
    font-family: var(--secondary-font);
    font-size: 1.3rem;
    line-height: 2rem;
}

#promo-section .promo-center {
    border-left: 5px solid black;
    border-right: 5px solid black;
}

#promo-section .promo-terms {
    font-size: 1.5rem;
    font-style: italic;
    font-weight: 500;
}

/* DOCTORS PAGE */
.doctors-section {
    align-items: center;
    padding: 0;
    padding-bottom: 4rem;
    margin: 0;
    background-image: url(imgs/minimalist-blue-white-wave-background.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.section-title {
    background-color: var(--primary-color);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.603); /* Shadow appears when scrolled */
    margin: 2rem 0;
    border-bottom-left-radius: 2rem;
    
}

.section-title h1 {
    font-family: var(--primary-font);
    font-weight: 800;
    color: white;
    padding: 2rem 0;
    padding-left: 2rem;
}

.cards-container {
    gap: 2rem;
    padding: 0 4rem;
}

.flip-card {
    width: 450px;
    height: 550px;
    margin: 1rem auto;
    perspective: 1000px;
    cursor: pointer;
}

.flip-card img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top center;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform .65s;
    border-radius: 1rem !important;
    transform-style: preserve-3d;
    box-shadow: 0 5px 7px -1px rgba(0, 0, 0, 0.651); /* Shadow appears when scrolled */
}

.flip-card-inner h1{
    font-family: var(--primary-font);
    font-weight: 700; 
    max-width: 100%; /* or a fixed container width */
    text-overflow: ellipsis; /* optional: adds "..." */
    font-size: 2rem;
}

.flip-card-inner p {
    font-family: var(--secondary-font);
    font-weight: 300;
    font-size: 1.3rem;
}

/* For screens wider than 768px, use hover */
@media (hover: hover) and (pointer: fine) {
  .flip-card:hover .flip-card-inner {
     transform: rotateY(180deg);
  }
  
  .flip-card.flipped .flip-card-inner {
    transform: none;
  }
}

/* Always allow flipping via JS for mobile */
.flip-card.flipped .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    padding: 1rem;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem !important;
}

.flip-card-front {
    background-color: white;
    border: 1px solid #e5e7eb;
}

.flip-card-back {
    background-color: var(--gray-color-2);
    color: var(--primary-color);
    transform: rotateY(180deg);
}

.flip-card-back .card-schedules h1 {
    font-family: var(--primary-font);
    font-weight: 800;
    font-size: 1.5rem;
}


/* MV SECTION */
#mv-section {
    background-color: var(--gray-color);
    padding: 2rem 0;
}

#mv-section .container {
    max-width: 80%;
}

#mv-section .row {
    gap: 3rem;
    align-items: stretch;
}

.m-card, .v-card {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center; /* optional: vertically center content */
    background-color: white;
    color: white;
    padding: 1rem 3rem;
    border-radius: 3rem;
    box-shadow: 0 4px 6px -1px rgb(0, 0, 0);
    transition: all 0.3s ease;
}

.m-card {
    background-color: var(--primary-color);
}

.v-card {
    color: var(--primary-color);
}

.m-card h1, .v-card h1 {
    font-family: var(--primary-font);
    font-weight: 800;
    font-size: 4rem;
}

.m-card p, .v-card p {
    font-family: var(--secondary-font);
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    line-height: 2.6rem;
    margin-top: .5rem;
}

.m-card span, .v-card span {
    font-size: 1.2rem;
    text-transform: uppercase;
    color: var(--gray-color);
    text-shadow: 
        -.7px -.7px 0 var(--gray-color),
        .5px -.5px 0 var(--gray-color),
        -.5px .5px 0 var(--gray-color),
        .5px  .5px 0 var(--gray-color); /* subtle blur for depth */
}

.v-card span{
    color: var(--primary-color);
    text-shadow: 
        -.7px -.7px 0 var(--primary-color),
        .5px -.5px 0 var(--primary-color),
        -.5px .5px 0 var(--primary-color),
        .5px  .5px 0 var(--primary-color); /* subtle blur for depth */
}

.m-card:hover, .v-card:hover {
    transform: scale(1.05) rotate(1deg);
}

.our-values h1 {
    font-family: var(--tertiary-font);
    font-weight: 500;
    font-size: 3.5rem;
    margin: 4rem 0;
    color: var(--primary-color);

}

.val-card, .val-card-2 {
    background-color: white;
    font-family: var(--secondary-font);
    font-weight: 800;
    font-size: 1.2rem;
    color: var(--primary-color);
    padding: 1.5rem 0;
    border-radius: 1.2rem;
    border: 1px solid black;
    transition: all 0.2s ease;
}

.val-card i, .val-card-2 i {
    font-size: 1.5rem;
}

.val-card-2 {
    background-color: var(--primary-color);
    color: white;
}

.val-card:hover {
    color: white;
    background-color: var(--primary-color);
}

.val-card-2:hover {
    color: var(--primary-color);
    background-color: white;
}

.val-card:hover, .val-card-2:hover {
    transform: scale(1.07);
}

/* FAQs */
.faq-section {
    max-width: 80% !important;
    margin: 4rem 0;
    color: black;
}

.faq-section .row {
    border-radius: 2rem; 
    padding: 2rem;
    color: black;
}

.faq-section h1 {
    font-family: var(--primary-font);
    font-weight: 800;
    font-size: 5rem;
    color: black;
}

.faq-section button {
    font-family: var(--primary-font);
    font-weight: 700 !important;
    text-transform: uppercase;
    color: black;
    margin: 1.5rem 0;
}

.faq-section p {
    font-family: var(--secondary-font);
    color: black;
    line-height: 3rem;
}

.faq-section .accordion-item,
.faq-section .accordion-button,
.faq-section .accordion-body {
    background-color: transparent !important; /* or your desired color */
    color: black;
    border: none !important;
    box-shadow: none !important;
    font-size: 1.5rem;
}

.faq-section .accordion-button {
    font-weight: 800;
    letter-spacing: 1px;
    color: black;
}

/* LOCATION SECTION */
#location-page.location-section {
    background-color: var(--primary-color);
    padding: 0 15rem;
    box-shadow: 0 4px 10px -3px rgb(0, 0, 0);
}

.map-sect {
    height: 100%;
    margin-bottom: 0;
    padding-bottom: 0;
}

.location-section .location-text {
    padding-left: 5rem;
}

.location-section iframe {
  border: none;
  border-left: 3px solid black;
  border-right: 3px solid black;
  display: block;
}


.location-section .row h1 {
    color: var(--gray-color) !important;
    font-family: var(--primary-font);
    font-weight: 800;
    font-size: 3rem;
    color: white;
}

.location-section .row h1 span {
    color: white;
    font-size: 6rem;
}

.location-section .row p {
    margin-top: 1rem;
    font-family: var(--secondary-font);
    font-weight: 500;
    font-size: 1rem;
    color: var(--primary-color);
    letter-spacing: 1.5px;
    padding: 1.5rem;
    background-color: white;
    border-radius: 1.2rem;
}

.location-section .row p span {
    font-weight: 800;
}

/* HMO SECTION */
.hmo-page {
    background-image: url(imgs/flipped-minimalist-blue-white-wave-background\ copy.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 4rem;
}

.hmo-page .section-title {
    background-color: var(--gray-color-2);
}

.hmo-page .section-title h1 {
    color: black;
}

.hmo-section {
    padding: 3rem;
}

#splide-section img {
    height: 100%;
    display: block;
    margin: 0 auto;
}

/* FOOTER */
.footer-container {
    max-width: 100% !important; 
    padding: 0;
}

.footer-container footer {
    background-color: var(--primary-color);
}

/* FOR PHONE RESPONSIVENESS */
@media (max-width: 1200px) {

    body {
        padding-top: 3rem;
    }

    .section-title {
        width: 100% !important;
    }

    #navbar {
        padding: .6rem 5%;
    }

    #info-nav {
        padding: 0 5%;
    }

    #navbar img {
        height: 1.5rem;
    }

    #navbar li a {
        font-size: 1.2rem;
    }

    #navbar #contact-alert {
        padding: .2rem .5rem;
        font-size: .8rem;
    }

    /* HOME PAGE */
    #home-page h1 {
        font-size: 3rem;
    }

    #home-page h1 span, #home-page p  {
        font-size: 3.5rem;
    }

    #home-mini #second {
        padding: 1rem 2rem;
    }

    #home-mini #second h1 {
        font-size: 1.5rem;
    }

    #home-mini #second p {
        font-size: 1rem;
    }

    #home-mini .open-hours h2, #home-mini .open-hours span{
        padding: .3rem 1rem;
        font-size: 1.3rem !important;
    }

    /* SERVICE PAGE */
    .tabs-container {
        max-width: 90%;
    }

    /* PROMO PAGE */
    #promo-section {
        height: auto;
        padding: 2rem 0;
    }
    #promo-section h1 {
        font-size: 2rem;
    }

    #promo-section h1 span {
        font-size: 1.5rem;
        top: 0;
    }

    #promo-section h2 {
        font-size: 1.5rem;
    }

    #promo-section h4 {
        font-size: 1.2rem;
        line-height: 1.7rem;
        font-weight: 500;
    }

    #promo-section .col-md-4 {
        padding: 0 1.3rem;
    }

    #promo-section .promo-center {
        padding: 0 2rem;
        border-left: 2px solid black;
        border-right: 2px solid black;
    }

    /* MV SECTION */
    #mv-section .container {
        max-width: 100%;
    }

    .m-card h1, .v-card h1 {
        font-size: 2.5rem;
    }

    .val-card, .val-card-2,
    .val-card i, .val-card-2 i {
        font-size: 1rem;
    }

    /* LOCATION SECTION */
    #location-page.location-section {
        padding: 0 2rem;
    }

    .location-section .location-text {
        padding-left: 1rem;
    }

    .location-section .row h1, .location-section .row h1 span {
        font-size: 1.5rem;
    }

    /* HMO SECTION */
    .hmo-page .section-title h1 {
        padding: 1rem;
    }
}

@media (max-width: 800px) {

    h1 {
        font-size: 1.5rem;
    }

    #info-nav {
        display: none;
        padding: 0;
    }

    .whole-nav #nav-title {
        padding: 0;
        margin-left: 0 !important;
    }

    #navbar img {
        height: 1rem;
    }


    /* HOME PAGE */
    #home-page {
        min-height: 60vh;
    }

    #home-page h1 {
        font-size: 2rem;
    }

    #home-page h1 span {
        font-size: 2.2rem;
    }

    #home-page p {
        font-size: 3rem;
    }

    #home-text {
        padding: 2rem;
        min-height: 60vh;
    }

    #home-page .row {
        margin: 0;
    }

    #home-page h1 {
        font-size: 2.7rem;
    }

    #home-page p {
        font-size: 1.2rem;
    }

    #home-page a i {
        font-size: 2rem;
    }

    #home-mini {
        padding: 0;
        margin: 0;
    }

    #home-mini .row, #home-mini #first {
        margin: 0;
    }

    #home-mini #first {
        display: none !important;
    }

    #home-mini #first video {
        height: 10rem;
        margin: 2rem 0;
    }

    #home-mini #second {
        border-radius: 0;
        padding: 2rem 1rem 3rem 1rem;
    }

    #home-mini #second p {
        padding: 0;
        font-size: 1rem;
    }

    /* SERVICE PAGE */
    #services-page h1 {
        font-size: 3.5rem;
    }

    #services-page h2 {
        font-size: 2.5rem;
    }

    .tabs-container {
        flex-direction: column; /* Stack vertically */
        width: 90%;
        max-width: 100%;
        margin: 20px auto;
        border-radius: 1rem;
    }

    .tabs-container .tabs {
        flex-direction: row;
        max-width: 100%;
        border-radius: 1rem 1rem 0 0;
        flex-wrap: wrap;
    }

    .tabs-container .tabs .tab {
        flex: 1 1 20%;
        font-size: 0.9rem;
        padding: 12px;
        white-space: normal;
        word-break: break-word;
    }

    .tabs-container .tab-label {
        display: none;
    }

    .tabs-container .content-container .content {
        padding: 20px;
    }

    .tabs-container .content-container h3 {
        font-size: 1.5rem;
    }

    .tabs-container .content-container li {
        font-size: 0.95rem;
    }

    /* PROMO PAGE */
    #promo-section {
        padding: 2rem 1.2rem;
    }
    
    #promo-section .row {
        height: auto;
        border: none;
        padding: 0;
        margin: 0;
    }
    
    #promo-section .col-md-4 {
        padding: 1rem 0;
    }

    #promo-section .promo-center {
        border: none;
    }

    /* DOCTORS PAGE */
    .cards-container {
        gap: 0rem;
        padding: 0 1rem;
    }
    .section-title {
        margin: 1rem 0;
        border-bottom-left-radius: 0rem;
        border-bottom-right-radius: 2rem;
        width: 50% !important;
    }

    .section-title h1 {
        font-family: var(--primary-font);
        font-weight: 800;
        color: white;
        padding: .5rem 0;
        padding-left: 2rem;
        font-size: 1.5rem !important;
    }

    .flip-card img {
        height: 80%;
        width: 100%;
        object-fit: cover;
        object-position: top center;
    }

    .flip-card-front .card-title { 
        font-size: 1.3rem;
    }

    .flip-card-front .card-text {
        font-size: 1rem;
        margin: 0;
    }

    .flip-card-front br {
        display: none;
    }

    /* MV SECTION */
    #mv-section .row {
        gap: 0;
    }

    #mv-section .container {
        max-width: 90%;
    }

    .m-card, .v-card {
        padding: 1rem 1.5rem;
    }

    .m-card h1, .v-card h1 {
        font-size: 2.5rem;
    }

    .m-card p, .v-card p {
        font-size: .8rem;
    }   

    .m-card span, .v-card span {
        font-size: 1rem;
    }  
    
    /* FAQ SECTION */
    .faq-section {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 1rem 0;
    }

    .faq-section .row {
        padding: 1rem;
        border-radius: 1rem;
    }

    .faq-section h1 {
        font-size: 2.5rem;
        text-align: center;
    }

    .faq-section button {
        font-size: 1rem !important;
        padding: 0;
    }

    .faq-section .accordion-body{
        font-size: .8rem !important;
        padding: 0;
    }

    .faq-section .accordion-body p {
        line-height: 1.5rem;
    }
    
    /* LOCATION PAGE */
    #location-page.location-section {
        padding: 1rem 2rem;
    }
    .map-sect {
        display: none;
    }
    .location-section .location-text {
        padding-left: 0;
    }
    .location-section .location-text {
        padding: 0;
    }
    .location-section .location-text h1 {
        font-size: 2rem;
    }

    .location-section .location-text h1 span {
        font-size: 3rem;
    }

    .location-section .location-text p {
        font-size: 1rem;
    }

    /* HMO SECTION */
    .hmo-page {
        padding-bottom: 1rem;
    }

    .hmo-page .section-title h1 {
        font-size: 1rem !important;
    }
    
    #splide-section img {
        height: 50%;
        display: block;
        margin: 0 auto;
    }

}
