/* Josefin Sans */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
/* Work Sans & JetBrains Mono */
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-color: #3072b4;
    --secondary-color: #1F4A74;
    --tertiary-color: #6baff3;
    --accent-color: #1d558d6b; 
    --gray-color: #dadadaa8;
    --gray-color-2: #dadada; 

    --primary-font: "Work Sans", sans-serif;
    --secondary-font: "JetBrains Mono", monospace;
}

h1 {
    text-transform: uppercase;
}

body {
    padding-top: 2rem;
}


.fade-up {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity .5s ease-out, transform .5s ease-out;
}

.fade-up.visible {
    opacity: 1;
    transform: translateY(0);
}

/* NAVBAR */
#navbar {
    margin: 0;
    padding: .6rem 10%; /* Initial padding */
}

#info-nav {
    background-color: var(--primary-color) !important;
    color: var(--gray-color-2);
    padding: 0 10rem;
    letter-spacing: 1px;
    font-family: var(--secondary-font);
}

.whole-nav {
    position: fixed;
    top: 0;
    z-index: 1000;
    transition: box-shadow 0.3s ease, transform 0.3s ease; /* Transition for both shadow and transform */
    left: 0;
    right: 0;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.452);
}

#info-nav span {
    color: white;
    font-size: larger;
}

/* When navbar has shadow (scrolled) */
#navbar.navbar-shadow {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Shadow appears when scrolled */
    transform: translateY(-5px); /* Shrink and move the navbar */
}

#navbar li a {
    color: black;
    font-family: var(--primary-font);
    font-weight: 600;
    font-size: 1.4rem;
    text-transform: uppercase;
    transition: color 0.3s ease;
}

#navbar li a:hover {
    color: #007bff;
    text-decoration: none;
}

/* HOME PAGE */
#home-page {
    max-width: 100%;
    background-image: url('imgs/home-page.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    min-height: 90vh;
}

#home-text {
    display: flex;
    align-items: center;
    padding: 6rem;
    background: linear-gradient(to left, rgba(255, 255, 255, 0) , rgba(0, 0, 0));
    min-height: 90vh;
}

#home-page .row {
    display: flex;
    align-items: center; /* Vertical centering */
    margin-bottom: 3rem;
}

#home-page h1 {
    font-family: var(--primary-font);
    font-weight: 800;
    font-size: 6rem;
    color: white;
}

#home-page p {
    font-family: var(--secondary-font);
    font-weight: 300;
    font-size: 2rem;
    color: white;
    text-shadow: black 4px;
}

#home-page p span {
    font-weight: 800;
    color: var(--secondary-color);
    text-shadow: 
        -.7px -.7px 0 var(--gray-color),
        .5px -.5px 0 var(--gray-color),
        -.5px .5px 0 var(--gray-color),
        .5px  .5px 0 var(--gray-color),
        3px  0px 10px white; /* subtle blur for depth */
}

#home-page a i {
    font-size: 3.5rem;
    color: var(--primary-color);
    transition: all 0.3s ease;
    margin-right: 1rem;
}

#home-page a i:hover {
    color: var(--secondary-color); /* or any accent color */
    transform: scale(1.2) rotate(5deg);
    text-shadow: 0 0 10px var(--secondary-color);
}


#home-mini {
    margin: 0;
    margin-top: -9rem;
    padding-left: 0;
}

#home-mini #first {
    background-color: var(--tertiary-color);
    margin: 2rem 0;
    padding: 1rem;
    padding-left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: none;
    box-shadow: 0 4px 6px -1px rgb(0, 0, 0);
}

#home-mini #first video {
    width: 100%;
    height: auto;
    max-width: 100%;
    object-fit: contain;
}

#home-mini #second {
    background-color: var(--gray-color-2); 
    padding: 2rem 3rem;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
    color: var(--primary-color);
    box-shadow: 0 4px 6px -1px rgb(0, 0, 0);
}

#home-mini #second img {
    max-width: 10rem;
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

#home-mini #second h1 {
    font-family: var(--primary-font);
    font-weight: 800;
    font-size: 2.5rem;
}

#home-mini #second p {
    font-family: var(--secondary-font);
    font-size: 1.3rem;
    line-height: 2.5rem;
    text-align: justify;
}

#home-mini #second span {
    color: var(--secondary-color);
    font-weight: 700;
}

#home-mini .what-about {
    padding-right: 4rem;
}

#home-mini .open-hours {
    font-family: var(--secondary-font);
    background-color: white;
    border-radius: 4rem;
    width: 100%;
    padding: .3rem 0;
    box-shadow: 0 2px 3px -1px rgb(0, 0, 0);
}



/* SERVICES PAGE */

.tabs-container {
    max-width: 60%;
    width: 80%;
    margin: 30px;
    display: flex;
    border-radius: 3rem;
    background-color: white;
    box-shadow: 0 4px 40px -8px rgba(0, 0, 0, 0.39);
}

.tabs-container .tabs {
    max-width: 300px;
    background: var(--secondary-color);
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.2rem;
    font-family: var(--primary-font);
    font-weight: 800;
    text-transform: uppercase;
}

.tabs-container .tabs .tab {
    padding: 24px 32px;
    background: var(--primary-color);
    cursor: pointer;
    font-weight: bold;
}

.tabs-container .tabs .tab.active {
    background: white;
    color: #222;
}

.tabs-container .content-container {
    width: 100%;
    transition: min-height 0.3s ease;
}

.tabs-container .content-container .content {
    display: none;
    padding: 32px;
}

.tabs-container .content-container .content.active {
    display: block;
}

.tabs-container .content-container h3 {
    margin: 0;
    font-size: 2.5rem;
    font-family: var(--primary-font);
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.tabs-container .content-container p {
    line-height: 2;
}

.tabs-container .content-container li {
    margin-bottom: 1rem;
    margin-left: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px gray solid;
    font-family: var(--secondary-font);
    font-size: 1rem;
}

.tabs-container .content-container li:hover {
    color: var(--primary-color);
}


/* (Old Services)
#services-page {
    max-width: 100%;
    background-color: white;
    padding: 2rem 0;
}

#services-page h1 {
    font-family: var(--primary-font);
    font-weight: 800;
    color: white;
    padding: 2rem 0;
    padding-left: 2rem;
}

#services-section {
    margin: 0 auto;
    width: 95%;
    max-width: 100%;
}

#services-cell {
    background-color: var(--gray-color-2);
    margin: 2rem;
    border-radius: 1rem;
}

#services-cell h2 {
    font-family: var(--primary-font);
    font-weight: 800;
    font-size: 3rem;
    text-align: center;
}

#services-cell p {
    font-family: var(--secondary-font);
    font-size: 1.4rem;
    margin: 0 !important;
} */

/* PROMO PAGE */
#promo-section {
    background-color: var(--secondary-color);
    padding: 2rem 0;
}

#promo-section .row {
    margin-right: 0;
    height: 20rem;
}

#promo-section .col-md-4 {
    padding: 0 4rem;
}

#promo-section h1,
#promo-section h2,
#promo-section h4 {
    color: white;
}

#promo-section h1,
#promo-section h2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 4rem;
    letter-spacing: 8px;
}

#promo-section h2 {
    font-size: 3rem;
    letter-spacing: 4px;
}

#promo-section h4 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.7rem;
    
}

/* DOCTORS PAGE */
#doctors-section {
    align-items: center;
    padding: 0;
    padding-bottom: 4rem;
    margin: 0;
    background-image: url(imgs/minimalist-blue-white-wave-background.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.section-title {
    background-color: var(--tertiary-color);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.603); /* Shadow appears when scrolled */
    margin: 2rem 0;
    border-bottom-left-radius: 2rem;
    
}

.section-title h1 {
    font-family: var(--primary-font);
    font-weight: 800;
    color: white;
    padding: 2rem 0;
    padding-left: 2rem;
}

.cards-container {
    gap: 2rem;
    padding: 0 4rem;
}

.flip-card {
    width: 450px;
    height: 550px;
    margin: 1rem auto;
    perspective: 1000px;
    cursor: pointer;
}

.flip-card img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top center;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform .65s;
    border-radius: 1rem !important;
    transform-style: preserve-3d;
    box-shadow: 0 5px 7px -1px rgba(0, 0, 0, 0.651); /* Shadow appears when scrolled */
}

.flip-card-inner h1{
    font-family: var(--primary-font);
    font-weight: 700; 
    max-width: 100%; /* or a fixed container width */
    text-overflow: ellipsis; /* optional: adds "..." */
    font-size: 2rem;
}

.flip-card-inner p {
    font-family: var(--secondary-font);
    font-weight: 300;
    font-size: 1.3rem;
}

/* For screens wider than 768px, use hover */
@media (hover: hover) and (pointer: fine) {
  .flip-card:hover .flip-card-inner {
     transform: rotateY(180deg);
  }
  
  .flip-card.flipped .flip-card-inner {
    transform: none;
  }
}

/* Always allow flipping via JS for mobile */
.flip-card.flipped .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    padding: 1rem;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem !important;
}

.flip-card-front {
    background-color: white;
    border: 1px solid #e5e7eb;
}

.flip-card-back {
    background-color: var(--primary-color);
    color: white;
    transform: rotateY(180deg);
}


/* MV SECTION */
#mv-section {
    background-color: var(--gray-color);
    padding: 2rem 0;
}

#mv-section .container {
    max-width: 80%;
}
#mv-section .row {
    gap: 3rem;
}

#mv-section .col-md-5 {
    background-color: white;
    color: white;
    margin: 1rem 0;
    width: 40rem;
    padding: 3rem;
    border-radius: 3rem;
    box-shadow: 0 4px 6px -1px rgb(0, 0, 0);
    transition: all 0.3s ease;
}

#mv-section .col-md-5 h1 {
    font-family: var(--primary-font);
    font-weight: 800;
    font-size: 4rem;
    color: var(--secondary-color);
}

#mv-section .col-md-5 p {
    font-family: var(--secondary-font);
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    line-height: 2.6rem;
    margin-top: .5rem;
}

#mv-section .col-md-5 span {
    font-size: 1.2rem;
    text-transform: uppercase;
    color: var(--secondary-color);
    text-shadow: 
        -.7px -.7px 0 var(--gray-color),
        .5px -.5px 0 var(--gray-color),
        -.5px .5px 0 var(--gray-color),
        .5px  .5px 0 var(--gray-color); /* subtle blur for depth */
}

#mv-section .transparent {
    background-color: transparent;
    box-shadow: none;
}

#mv-section .col-md-5:hover {
    transform: scale(1.05) rotate(1deg);
}

.mv-card {
    background-color: var(--tertiary-color) !important;
}

.v-card {
}

/* FAQs */
.faq-section {
    max-width: 80% !important;
    margin: 4rem 0;
    color: black;
}

.faq-section .row {
    border-radius: 2rem; 
    padding: 2rem;
    color: black;
}

.faq-section h1 {
    font-family: var(--primary-font);
    font-weight: 800;
    font-size: 5rem;
    color: black;
}

.faq-section button {
    font-family: var(--primary-font);
    font-weight: 700 !important;
    text-transform: uppercase;
    color: black;
    margin: 1.5rem 0;
}

.faq-section p {
    font-family: var(--secondary-font);
    color: black;
    line-height: 3rem;
}

.faq-section .accordion-item,
.faq-section .accordion-button,
.faq-section .accordion-body {
    background-color: transparent !important; /* or your desired color */
    color: black;
    border: none !important;
    box-shadow: none !important;
    font-size: 1.5rem;
}

.faq-section .accordion-button {
    font-weight: 800;
    letter-spacing: 1px;
    color: black;
}

/* LOCATION SECTION */
.location-section {
    background-color: var(--primary-color);
    padding: 0 15rem !important;
    box-shadow: 0 4px 10px -3px rgb(0, 0, 0);
}

.map-sect {
    height: 100%;
    margin-bottom: 0;
    padding-bottom: 0;
}

.location-text {
    padding-left: 5rem !important;
}

.location-section iframe {
  border: none;
  border-left: 3px solid black;
  border-right: 3px solid black;
  display: block;
}


.location-section .row h1 {
    font-family: var(--primary-font);
    font-weight: 800;
    font-size: 3rem;
    color: white;
}

.location-section .row h1 span {
    color: var(--secondary-color);
    font-size: 6rem;
    text-shadow: 
        -.7px -.7px 10px white,
        .5px -.5px 0 var(--gray-color),
        -.5px .5px 0 white,
        .5px  .5px 0 var(--gray-color); /* subtle blur for depth */;
}

.location-section .row p {
    margin-top: 2rem;
    font-family: var(--secondary-font);
    font-weight: 500;
    font-size: 1.3rem;
    color: var(--secondary-color);
    font-style: italic;
    letter-spacing: 1.5px;
    padding: 1.5rem;
    background-color: white;
    border-radius: 1.2rem;
    box-shadow: 2px 2px 10px rgb(0, 0, 0);
}

/* HMO SECTION */
.hmo-page {
    background-image: url(imgs/flipped-minimalist-blue-white-wave-background\ copy.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 4rem 0;
}

.hmo-section {
    padding: 3rem;
}

#splide-section img {
    height: 100%;
    display: block;
    margin: 0 auto;
}


/* FOR PHONE RESPONSIVENESS */
@media (max-width: 800px) {

    body {
        padding-top: 5rem;
    }

    #info-nav {
        display: none;
    }

    /* HOME PAGE */
    #home-page {
        min-height: 60vh;
    }

    #home-text {
        padding: 2rem;
        min-height: 60vh;
    }

    #home-page .row {
        margin: 0;
    }

    #home-page h1 {
        font-size: 2.7rem;
    }

    #home-page p {
        font-size: 1.2rem;
    }

    #home-page a i {
        font-size: 2rem;
    }

    #home-mini {
        padding: 0;
        margin: 0;
    }

    #home-mini .row, #home-mini #first {
        margin: 0;
    }

    #home-mini #first {
        display: none !important;
    }

    #home-mini #first video {
        height: 10rem;
        margin: 2rem 0;
    }

    #home-mini #second {
        border-radius: 0;
        padding: 2rem 1rem 3rem 1rem;
    }

    #home-mini #second p {
        padding: 0;
    }

    /* SERVICE PAGE */
    #services-page h1 {
        font-size: 3.5rem;
    }

    #services-page h2 {
        font-size: 2.5rem;
    }

    /* PROMO PAGE */
    #promo-section .row {
        height: auto;
        border: none;
    }

    /* DOCTORS PAGE */
    .cards-container {
        gap: 0rem;
        padding: 0 1rem;
    }

    .section-title {
        margin: 2rem 0;
        border-bottom-left-radius: 0rem;
        border-bottom-right-radius: 2rem;
        width: 50% !important;
    }

    .section-title h1 {
        font-family: var(--primary-font);
        font-weight: 800;
        color: white;
        padding: .5rem 0;
        padding-left: 2rem;
        font-size: 1.5rem !important;
    }

    /* MV SECTION */
    #mv-section .row {
        gap: 0;
    }

    #mv-section .transparent {
        display: none;
    }
}