:root {
    --primary-color: #a4b5c56b;
    --secondary-color: #1F4A74;
    --accent-color: #1d558d6b; 
    --gray-color: #dadadaa8;
}

* {
    
}

/* NAVBAR */
#navbar {
    margin: 0;
    padding: .6rem 10%; /* Initial padding */
    top: 0;
    z-index: 1000;
    transition: box-shadow 0.3s ease, transform 0.3s ease; /* Transition for both shadow and transform */
    left: 0;
    right: 0;
}

/* When navbar has shadow (scrolled) */
#navbar.navbar-shadow {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Shadow appears when scrolled */
    transform: translateY(-5px); /* Shrink and move the navbar */
}

#navbar li a {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 1.4rem;
    transition: color 0.3s ease;
}

#navbar li a:hover {
    color: #007bff;
    text-decoration: none;
}

/* HOME PAGE */
#home-page {
    max-width: 100%;
    background-image: url('imgs/home-page.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    min-height: 80vh;
}

#home-text {
    display: flex;
    align-items: center;
    padding: 6rem;
    background: linear-gradient(to left, rgba(255, 255, 255, 0) , var(--secondary-color));
    min-height: 80vh;
}

#home-page .row {
    display: flex;
    align-items: center; /* Vertical centering */
}

#home-page h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 400;
    font-size: 6.5rem;
    letter-spacing: 4px;
    color: white;
}

#home-page p {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 100;
    font-size: 2rem;
    color: white;
}

/* SERVICES PAGE */
#services-page {
    max-width: 100%;
    background-color: var(--gray-color);
    padding-top: 4rem;
}

#services-page h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 400;
    font-size: 6.5rem;
    text-align: center;
    letter-spacing: 4px;
    color: var(--secondary-color);
}

#services-section {
    margin: 0 auto;
    width: 95%;
    max-width: 100%;
}

#services-cell {
    background-color: white;
    margin: 2rem;
}

#services-cell h2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 400;
    font-size: 3rem;
    text-align: center;
}

#services-cell p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.4rem;
    margin: 0 !important;
}

/* PROMO PAGE */
#promo-section {
    background-color: var(--secondary-color);
    padding: 2rem 0;
}

#promo-section h1,
#promo-section h4 {
    color: white;
}

#promo-section h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 6rem;
    letter-spacing: 8px;
}

#promo-section h4 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.4rem;
    
}

/* DOCTORS PAGE */
#doctors-section {
    align-items: center;
    padding: 4rem;
    margin: 0;
}

#cards-container {
  gap: 8rem;
}

.card {
  flex: 0 1 28rem;
  box-sizing: border-box;
}


/* FOR PHONE RESPONSIVENESS */
@media (max-width: 800px) {

    /* HOME PAGE */
    #home-page {
        min-height: 60vh;
    }

    #home-text {
        padding: 2rem;
        min-height: 60vh;
    }

    #home-page h1 {
        font-size: 3rem;
    }

    #home-page p {
        font-size: 1rem;
    }

    /* DOCTORS PAGE */
    #cards-container {
        gap: 3rem;
    }
}